* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

body {
  font-family: Arial;
  padding: 10px;
  
}

/* Header/Blog Title */
.header {
  padding: 30px;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  background-color: #74777A; /* Šedá barva */
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column !important;
    height: 16rem;
    width: fit-content;
    
  }
  .navLeftCont, .navRightCont {
    flex-direction: column !important;
    height: fit-content;
    width: 100%;
  }

  .navChild {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dropdown {
    left: 11.5rem !important;
    top: 0 !important;
  }
}

.navLeftCont, .navRightCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.9rem;
}

/* Style the topnav links */

.topnav a {
  color: white;
}

/* Change color on hover */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumnVysvetlivky {   
  float: left;
  width: 75%;
}

.leftcolumnClanky {   
  float: left;
  width: 100%;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  font-size: 16px; /* Výchozí velikost textu */
  padding: 20px; /* Přidáme polštáře kolem textu pro lepší čitelnost */
  box-sizing: border-box; /* Zahrnout padding do celkové šířky elementu */
  background-color: #CCCDCF; /* Zachovat barvu pozadí */
  min-height: 200px; /* Minimální výška .fakeimg, aby se zvětšovala podle obsahu */
  display: flex; /* Použijeme flexbox pro dynamickou výšku */
  align-items: center; /* Zarovnání obsahu vertikálně */
}

/* Pro menší obrazovky snižte velikost textu */
@media screen and (max-width: 600px) {
  .fakeimg {
    font-size: 14px; /* Snížení velikosti textu na menších obrazovkách */
  }
}

/* Add a card effect for articles */
.card {
  background-color: #74777A;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

.cardVysvetlivky {
  background-color: #5f5f5f;
  color: white;
  padding: 35px;
  margin-top: 20px;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  user-select: none;
  padding: 5px;
  text-align: center;
  background: #9CB9F2; /* Světle šedá barva */
  margin-top: 20px;
  border: none;
}

.footer h2 {
  margin-bottom: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #cccccc; /* Změna barvy při najetí myší */
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn, .leftcolumnClanky, .leftcolumnVysvetlivky {   
      width: 100%;
      padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
      float: none;
      width: 100%;
  }
}



.container {
  max-width: 100%;
  height: 600px;
}

#header_img {
  background-image: url(../img/stockvault-simple-finance-background260820.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

#logo {
  background-image: url(../img/stahování-removebg-preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  width: 130px;
  left: 80px;
}

.navP {
  margin: 0;

}

.navChild {
  color: #ffffff;
  text-align: center;
  padding: 30px;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navChild:hover {
  background-color: #87b140; /* Světle zelená barva */
}

.navChild:hover a {
  color: #000000; /* Černá barva */
}

.navChild .dropdown {
  position: absolute;
  display: none;
  top: 4rem;
  width: 100%;
  left: 0;
}

.navChild:hover .dropdown {
  display: block;
}
.navChild .dropdown .dropdownChild {
  display: block;
  color: #ffffff;
  text-align: center;
  height: 4rem;
  text-decoration: none;
  cursor: pointer;
  background: #5f5f5f; /* Světle šedá barva */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navChild .dropdown .dropdownChild:hover {
  background-color: #87b140; /* Světle zelená barva */
  color: #000000; /* Černá barva */
}